@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    /* definir un tamaño de fuente base utilizando vw */
    font-size: calc(0.5vw + 1rem);

    --primary-color: #1a0900;
    --secondary-color: #8a5d3c;
    --tertiary-color: #d3ad7f;
    --background-color: #F6F6F6;
    --background-dark-color: #2F2F2F;  
    
    /*New*/

    --bg-medium-dark-color: #473630;
    --bg-footer-dark-color: #261e1b;
    --bg-light-color: #efe7e3;
    --bg-white-color: #fcf9f8;

    --text-prymary-dark-color: #5c2f2f;
    --text-gray-color: #a7a5a4;
    --text-primary-light-color:#fcfcfc;
    --text-secondary-light-color: #cbc9c7;
}
* {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; 
    font-family: "Nunito Sans", sans-serif;  
}

/** 
  *Header 
  --------*/
header {
    position: sticky; /*fixed*/
    top: 0;
    width: 100%;
    z-index: 1000;
}
.navbar {
    display: flex;
    align-items: center;    
    justify-content: space-between;  
    background-color: var(--bg-white-color);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

/* Logo */
.navbar .logo {  
    width: 28vh;    
}
.navbar .logo a img {
    max-width: 100%;
    padding: 8px 0 0 20px;
}

/* Menú de navegación */
.navbar .nav-links ul {    
    display: flex;
    align-items: center;    
    justify-content: space-between;
    list-style: none;
}
.navbar .nav-links ul li a {        
    text-decoration: none;    
    padding: 0 20px;
    color: var(--primary-color);
    font-size: calc(0.8vw + 0.4rem);
    /*font-size: 1rem;*/
    font-weight: 800;
    letter-spacing: 1.2px;
    transition: color .3s ease-in-out;
}
.navbar .nav-links ul li a:hover {
    color: #d3ad7f;
}

/* Botón para menú lateral */
.menu-btn {
    display: none;
}
.navbar .nav-links .horizontal-navbar li:last-child {
    padding-top: 5px;
}

/* Sidebar */
.navbar .nav-links .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);     
    display: none;
    flex-direction: column;    
    justify-content: flex-start;
    transition: transform 0.3s ease-out; 
}
.navbar .sidebar li {
    width: 100%;
    padding-bottom: 20px;
}
.navbar .sidebar li:first-child {    
    padding-top: 18px;
}
.navbar .sidebar a {
    width: 100%;
}

/** 
  **Sección 1: Hero
  -------------------*/
.hero {    
    background-image: url(/static/img/hero-bg.png);
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    align-items: center;    
    justify-content: center;
    width: 100%;
    padding: 3rem 0;
}
.container-hero {
    box-sizing: content-box;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: end;
    max-width: 85%;
    margin: 0 auto; 
    padding: 5.5% 0;
    gap: 40px; 
}

.container-hero .hero-img {
    width: 80vh;
    align-self: end;
}
.container-hero .hero-img img {
    width: 100%;
}

.container-hero .hero-text h1 {
    font-size: clamp(1.5rem, 3.5vw + 1rem, 4.5rem);
    line-height: 1.2;
    font-weight: 800;
    margin-bottom: 12px;
    color: var(--secondary-color);
}
.container-hero .hero-text p {
    font-size: clamp(0.1rem, 0.8vw + 0.5rem, 1rem);
    margin-bottom: 12px;
    color: var(--background-color);
}

/** 
  *Secciones 2 y 3: Estilos generales
  ------------------------------------*/
.title-section h1 {    
    font-size: clamp(1rem, 2vw + 1rem, 2rem);
    line-height: 1.2;
    font-weight: 800;
    color: var(--primary-color);
}

/** 
  *Sección 2: Productos Destacados
  ----------------------------------*/
.productos-destacados {    
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.productos-destacados > .title-section {
    margin-top: 36px;
    margin-bottom: 30px;
}
.grid {  
    box-sizing: content-box;  
    display: grid;    
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(5rem, auto);
    grid-gap: 1.3rem;
    margin: 0 auto 32px;
    padding: 0.5rem;
    padding-bottom: 1.5rem;
    grid-auto-flow: dense;
    height: 70%;
    max-width: 80%;
    background-color: var(--tertiary-color);
    border-radius: 24px; 
}
.item {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;    
    border-radius: 24px; 
    transition: transform 0.3s ease-in-out;  
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    
}
.one {
    grid-column: 1;
    grid-row: 1/4;
    background-image: url("/static/img/plantilla.jpg");        
}
.two {
    grid-column: 2/3;
    grid-row: 1;
    background-image: url("/static/img/plantilla.jpg");
}
.three {
    grid-column: 2/3;
    grid-row: 2;
    background-image: url("/static/img/plantilla.jpg");
}
.four {
    grid-column: 3;
    grid-row: 1/3;
    background-image: url("/static/img/plantilla.jpg");
}
.five {
    grid-column: 2/4;
    grid-row: 3;
    background-image: url("/static/img/plantilla.jpg");
}
.item:is(.one, .two, .three, .four, .five) {    
    transition: scale 400ms; 
}
.item:is(.one, .two, .three, .four, .five):hover {
    transform: scale(1.2);
}
.item .description-prod {    
    background-color: #27273980;
    backdrop-filter: blur(6px);
    color: var(--background-color);
    font-size: clamp(0.1rem, 0.2vw + 0.4rem, 0.8rem);
    text-align: center;
    padding: 4px;
    border-radius: 4px 10px 3px; /*25px 50px 35px;*/
}

/** 
  *Sección 3: Servicios
  -----------------------*/
.nuestros-servicios {
    margin: 0 auto;
    padding: 3rem 0;
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;    
}
.nuestros-servicios .title-section {    
    margin-bottom: 32px;
    padding: 5px;
    text-align: center;
}

/* Estilos para el 1er contenedor */
.services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 35px;
    padding: 35px 0;
    width: 90%;
    height: 100%;
    max-width: 1170px;
    margin-bottom: 28px;    
}
.contentLeft,
.contentRight {
    width: 100%;
}
.contentLeft .img-row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.contentLeft .img-row .imgWrapper {
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.15);
}
.contentLeft .img-row .imgWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    transition: 0.3s ease;
}
.contentLeft .img-row .imgWrapper:hover img {
    transform: scale(1.5);
}
.contentLeft .img-row .imgWrapper:nth-child(odd) {
    transform: translateY(-20px);
}
.contentLeft .img-row .imgWrapper:nth-child(even) {
    transform: translateY(20px);
}
.contentRight .text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 10px;
}

/* Estilos para etiquetas h2, p, svg que se utilizan en toda la sección */
.contentRight .text-content h2 {
    font-size: clamp(1.4rem, 1vw + 1rem, 1.4rem);    
    font-weight: 700;
    color: var(--secondary-color);
    padding-bottom: 12px;
}
.contentRight .text-content p, .contentRight .text-content a {
    font-size: clamp(0.8rem, 1vw + 0.5rem, 0.8rem);
    font-weight: 600;
    color: #343434;
    text-align: justify;
    padding-bottom: 8px;   
}
.contentRight .first-service {
    padding-bottom: 42px;
}
.contentRight .text-content a {
    display: flex; 
    align-items: center;
    text-decoration: none;
    gap: 5px;
}
.contentRight .text-content a svg {    
    display: inline-block;
    width: 32px;    
    height: 32px;   
    padding: 6px;
    fill:var(--secondary-color);
    background: #f9e6cf;
    border-radius: 100px;
}
.contentRight .text-content a svg:hover {   
    fill: #f9e6cf;
    background: var(--tertiary-color);    
}

/* Estilos para el 2do contenedor */
.reservation-service {
    display: grid;
    grid-template-columns: repeat(2, 1fr);    
    grid-gap: 50px;
    overflow-x: hidden;
    padding: 2rem 0;
    width: 90%;
    max-width: 1170px;
}
.reservation-service .imgWrapper-2 {
    overflow: hidden;
}
.reservation-service .imgWrapper-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 22px 82px 22px 4px;
    transition: 0.3s ease;
}
.reservation-service .imgWrapper-2:hover img {
    transform: scale(1.25);
}
.reservation-service .thirdContent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    width: 100%;
}
.reservation-service .third-service h2 {
    padding-bottom: 20px;
}
.reservation-service .third-service p {
    padding-bottom: 8px;
}

/** 
  *Sección 4: Nosotros
  ----------------------*/
.about-us {
    display: flex;
    justify-content: center;
    padding: 100px 0; /* Separación superior */
    background-color: #dab08d;
}

.introduction {
    background-color: white; /* Color de fondo de la tarjeta */
    border-radius: 24px; /* Bordes redondeados */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    padding: 40px; /* Espaciado interno */
    width: 85%; /* Ancho de la tarjeta */
    max-width: 1170px; /* Ancho máximo de la tarjeta */
}

.introduction h2 {    
    font-size: clamp(1.4rem, 1vw + 1rem, 1.4rem);    
    font-weight: 700;
    color: var(--secondary-color);
    text-align: left;
    padding-bottom: 20px;
}

.introduction p {    
    text-align: justify;
    padding-bottom: 10px;
}

.introduction a {
    display: flex; /* Usar flexbox para alinear elementos */
    align-items: center; /* Centrar verticalmente */  
    text-decoration: none; /* Quitar subrayado del enlace */
    gap: 5px;
}

.introduction p, .introduction .direct-link a {
    font-size: clamp(0.8rem, 1vw + 0.5rem, 0.8rem);
    font-weight: 600;
    color: #343434;
}

.introduction a span {    
    text-align: left;
}

.introduction .direct-link a svg {    
    display: inline-block;
    width: 32px;    
    height: 32px; 
    padding: 0; 
    fill: var(--secondary-color);       
    background: #f9e6cf;
    border-radius: 100px;
}
.introduction .direct-link a svg:hover {   
    fill: #f9e6cf;
    background: var(--tertiary-color);  
}

/** 
  *Footer
  ---------*/
.footer {
    background-color: var(--bg-footer-dark-color);    
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
#footer-top,
#footer-bottom {
    display: flex;    
    justify-content: space-between;
    align-items: start;    
    margin-top: 10px; /* Alinear al fondo */
    padding: 18px 28px 0;
}
/* Footer Top */
#footer-top {    
    padding-bottom: 20px;
}
.footer-links,
.social-media {
    display: flex;
}
.footer-links {   
    justify-content: space-around;
    gap: 50px;
}
.footer-segment h3 {
    font-size: clamp(1rem, 1vw + 0.6rem, 1rem); /* Tamaño de fuente de los subtítulos */
    font-weight: 700;
    color: var(--text-primary-light-color);
    margin-bottom: 5px; /* Espacio entre subtítulos y enlaces */
}
.footer-links ul {   
    flex-direction: column;
}
.social-media ul {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.footer-links li,
.social-media li,
.info-web li {
    list-style: none;
    line-height: 1.2;
}
.footer-links a,
.social-media a {
    font-size: clamp(.6rem, 1vw + 0.2rem, .6rem); /* Tamaño de fuente de los enlaces */
    font-weight: 300;
    text-decoration: none;
    color: var(--text-secondary-light-color);
    margin-bottom: 5px; /* Espacio entre los enlaces */
}
.social-media a svg {
    display: inline-block;
    width: 36px;    
    height: 36px;   
    padding: 6px;
    fill:var(--bg-white-color);
    
}
.social-media a svg:hover {
    fill: var(--primary-color);
    background: var(--bg-white-color);
    border-radius: 50%;
}


/* Footer Bottom */
#footer-bottom {
    background-color: var(--bg-medium-dark-color);
    color: var(--text-secondary-light-color);  
    /*height: 100%;*/
    padding-top: 10px;   
    padding-bottom: 6px;     
}
.copyright {    
    font-size: clamp(0.5rem, 1vw + 0.4rem, 0.5rem);
    font-weight: 300;    
}
.info-web ul {
    display: flex;
    gap: 5px;
}
.info-web li a {
    display: flex;  
    font-size: clamp(.6rem, 1vw + 0.4rem, .6rem);
    font-weight: 600;
    text-decoration: none;
    color: var(--text-secondary-light-color);
    margin: 0 5px; 
    
}



/** 
   *Media queries para dispositivos específicos
   ----------------------------------------------*/
/* Media query para dispositivos de escritorio */
@media only screen and (min-width: 1441px) {
    /* Estilos adicionales para pantallas más grandes */
}

/* Laptops y desktops <= 1440px */
@media only screen and (max-width: 1440px) {
}

/** 
  *Tablets <= 834px 
   ------------------*/
   @media only screen and (max-width: 834px) {
    /* Sidebar */
    .hideOnMobile{
        display: none;
    }
    .menu-btn{
        display: block;
    }
    .navbar .nav-links ul li a {       
        font-size: calc(.25vw + 0.8rem);        
    }

    /* Sección 1 */
    .container-hero {
        flex-direction: column-reverse;
        justify-content: center;
        /*align-self: center;
        margin: 11% auto;
        padding-top: 15.5%;*/  
    }
    .container-hero .hero-img {
        max-width: 25%;
        align-self: center;
    }
    .hero-text {        
        text-align: center;
        padding-top: 4%;
        
    }
    .hero-text h1 {        
        margin-bottom: 10px;
    }
    .hero-text p {
        padding: 0 10% ;
    }

    /* Sección 2 */
    .title-section {
        text-align: center;       
    }
    .wide {
        grid-column: span 1;
        grid-row: span 2;
    }
    .tall {        
        grid-row: span 2;
        grid-column: span 1;
    }

    /* Sección 3 */    
    .contentLeft .img-row {
        grid-template-columns: repeat(2, 1fr);
    }
    .contentLeft .img-row .imgWrapper {
        height: 180px;
    }
    .contentRight .first-service {
        padding-bottom: 22px;
    }    
}

/** 
  *Dispositivos móviles en landscape <= 768px 
  ---------------------------------------------*/
@media only screen and (max-width: 768px) {
    /* Sección 3 */
    .nuestros-servicios .title-section {         
        padding-bottom: 35px;
    }

    /* Estilos del 1er contenedor */
    .services-container {
        grid-template-columns: 1fr;
        width: 85%;
        padding: 35px;
    }    
    .contentLeft .img-row {
        grid-template-columns: repeat(2, 1fr);
    }
    .contentLeft .img-row .imgWrapper {
        height: 150px;
    }
    .contentRight .text-content h2 {
        padding-bottom: 8px;
    }
    
    /* Estilos del 2do contenedor */
    .reservation-service {        
        grid-template-columns: 1fr;    
        grid-gap: 30px;
        width: 85%;
        padding: 35px;        
    }
    .reservation-service .thirdContent {
        order: 2;
        padding-left: 0;
        padding-right: 0;
        
    }
    .reservation-service .imgWrapper-2 img { 
        order: 1;       
        border-radius: 22px 4px 22px 4px;
        
    }

    /* Footer */
    #footer-top,    
    #footer-bottom {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }
    .footer-segment {
        text-align: center;
    }
    .footer-links ul {
        margin-bottom: 20px; /* Espacio entre las listas */
    }
    #footer-top {        
        padding-bottom: 0;
    }    
}

/** 
  *Tablets en landscape <= 1024px 
  ---------------------------------*/
  @media only screen and (min-width: 1024px) {      
    /* Sección 1 */ 
    .hero-text p {
        padding-right: 10%;
    } 
}

/* Dispositivos móviles <= 480px */
@media only screen and (max-width: 480px) {
    .sidebar{
        width: 100%;
    }

    /* Sección 3 */
    .nuestros-servicios .title-section {         
        margin: 0;
    }
    /* Estilos del 1er contenedor */
    .services-container {
        margin-bottom: 0;
    }
    /* Estilos del 2do contenedor */
    .reservation-service {     
        grid-gap: 35px;               
    }
    
    /* footer */
    .footer-links {
        gap: 20px;
    }
    .social-media a svg {
        width: 24px;
        height: 24px;
        padding: 4px;
    }

}

/* Dispositivos móviles <= 375px */
@media only screen and (max-width: 375px) {
    .footer-links {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}
