<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Café Central: Carta</title>
  <link rel="icon" href="/static/img/cafe-central.png" type="image/png">
  <link rel="stylesheet" href="/static/css/styles.css">
  <link rel="stylesheet" href="/static/css/menu-styles.css">
</head>

<body>
  <header>
    <nav class="navbar">
      <div class="logo">
        <a href="/index.html"><img src="/static/img/logo.png" alt="Logo"></a>
      </div>
      <div class="nav-links">
        <ul class="horizontal-navbar">
          <li class="hideOnMobile"><a href="/">Home</a></li>
          <li class="hideOnMobile">
            <a href="/templates/menu.html">Menú</a>
          </li>
          <li class="hideOnMobile">
            <a href="/templates/reservas.html">Reservas</a>
          </li>
          <li class="menu-btn" onclick="showSidebar()">
            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="28px" viewBox="0 -960 960 960" width="28px"
                fill="#000000">
                <path d="M120-240v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z" />
              </svg></a>
          </li>
        </ul>
        <ul class="sidebar">
          <li onclick="hideSidebar()">
            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="28px" viewBox="0 -960 960 960" width="28px"
                fill="#000000">
                <path
                  d="m249-207-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z" />
              </svg></a>
          </li>
          <li><a href="/">Home</a></li>
          <li><a href="/templates/menu.html">Menú</a></li>
          <li><a href="/static/css/reservas-styles.css">Reservas</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <section class="wrap-carta">
      <div class="carta-title">
        <h1>Menú</h1>
      </div>
      <div class="wrap-title-section">
        <h2>Café de especialidad</h2>
      </div>
      <div class="column-2 carta">
        <div class="coffe-carta">
          <div class="img-coffe-carta">
            <img src="/static/img/menu-cafe-caliente.jpg" alt="Café">
          </div>
          <div class="title-coffe-carta">
            <h4>Lorem, ipsum dolor.</h4>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="precio-coffe-carta">
            <span>$3.200</span>
          </div>
        </div>
        <div class="coffe-carta">
          <div class="img-coffe-carta">
            <img src="/static/img/menu-cafe-caliente.jpg" alt="Café">
          </div>
          <div class="title-coffe-carta">
            <h4>Lorem, ipsum dolor.</h4>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="precio-coffe-carta">
            <span>$3.200</span>
          </div>
        </div>
        <div class="coffe-carta">
          <div class="img-coffe-carta">
            <img src="/static/img/menu-cafe-caliente.jpg" alt="Café">
          </div>
          <div class="title-coffe-carta">
            <h4>Lorem, ipsum dolor.</h4>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="precio-coffe-carta">
            <span>$3.200</span>
          </div>
        </div>
        <div class="coffe-carta">
          <div class="img-coffe-carta">
            <img src="/static/img/menu-cafe-caliente.jpg" alt="Café">
          </div>
          <div class="title-coffe-carta">
            <h4>Lorem, ipsum dolor.</h4>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="precio-coffe-carta">
            <span>$3.200</span>
          </div>
        </div>
      </div>
      <div class="wrap-title-section">
        <h2>Desayuno y Mediatarde</h2>
      </div>
      <div class="wrap column-2 carta">
        <div class="plato-carta">
          <div class="img-plato-carta">
            <img src="/static/img/menu-desayuno.jpg" alt="Desayuno y Mediatarde">
          </div>
          <div class="title-plato-carta">
            <h4>Lorem, ipsum dolor.</h4>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="precio-plato-carta">
            <span>$2500</span>
          </div>
        </div>
        <div class="plato-carta">
          <div class="img-plato-carta">
            <img src="/static/img/menu-desayuno.jpg" alt="Desayuno y Mediatarde">
          </div>
          <div class="title-plato-carta">
            <h4>Lorem, ipsum dolor.</h4>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="precio-plato-carta">
            <span>$2500</span>
          </div>
        </div>
        <div class="plato-carta">
          <div class="img-plato-carta">
            <img src="/static/img/menu-desayuno.jpg" alt="Desayuno y Mediatarde">
          </div>
          <div class="title-plato-carta">
            <h4>Lorem, ipsum dolor.</h4>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="precio-plato-carta">
            <span>$2500</span>
          </div>
        </div>
        <div class="plato-carta">
          <div class="img-plato-carta">
            <img src="/static/img/menu-desayuno.jpg" alt="Desayuno y Mediatarde">
          </div>
          <div class="title-plato-carta">
            <h4>Lorem, ipsum dolor.</h4>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="precio-plato-carta">
            <span>$2500</span>
          </div>
        </div>
      </div>
      <div class="wrap-title-section">
        <h2>Almuerzos y Cenas</h2>
      </div>
      <div class="wrap column-2 carta">
        <div class="plato-carta">
          <div class="img-plato-carta">
            <img src="/static/img/menu-almuerzo.jpg" alt="Almuerzos y Cenas">
          </div>
          <div class="title-plato-carta">
            <h4>Lorem, ipsum dolor.</h4>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="precio-plato-carta">
            <span>$3800</span>
          </div>
        </div>
        <div class="plato-carta">
          <div class="img-plato-carta">
            <img src="/static/img/menu-almuerzo.jpg" alt="Almuerzos y Cenas">
          </div>
          <div class="title-plato-carta">
            <h4>Lorem, ipsum dolor.</h4>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="precio-plato-carta">
            <span>$3800</span>
          </div>
        </div>
        <div class="plato-carta">
          <div class="img-plato-carta">
            <img src="/static/img/menu-almuerzo.jpg" alt="Almuerzos y Cenas">
          </div>
          <div class="title-plato-carta">
            <h4>Lorem, ipsum dolor.</h4>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="precio-plato-carta">
            <span>$3800</span>
          </div>
        </div>
        <div class="plato-carta">
          <div class="img-plato-carta">
            <img src="/static/img/menu-almuerzo.jpg" alt="Almuerzos y Cenas">
          </div>
          <div class="title-plato-carta">
            <h4>Lorem, ipsum dolor.</h4>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="precio-plato-carta">
            <span>$3800</span>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer">
    <div id="footer-top">
      <div class="footer-links">
        <div class="footer-segment">
          <h3>Empresa</h3>
          <ul>
            <li>
              <a href="/#nosotros">Acerca de nosotros</a>
            </li>
            <li><a href="/templates/contact.html">Contacto y localización</a></li>
          </ul>
        </div>
        <div class="footer-segment">
          <h3>Servicios</h3>
          <ul>
            <li><a href="/#servicio1">Café de Especialidad</a></li>
            <li><a href="/#servicio2">Comidas Caseras</a></li>
            <li><a href="/#servicio3">Reservaciones</a></li>
          </ul>
        </div>
        <div class="footer-segment">
          <h3>Privacidad</h3>
          <ul>
            <li><a href="/templates/error404.html">Términos y condiciones</a></li>
            <li><a href="/templates/error404.html">Política de privacidad</a></li>
            <li><a href="/templates/error404.html">Cookies</a></li>
          </ul>
        </div>
      </div>
      <div class="social-media">
        <div class="footer-segment">
          <h3>Redes Sociales</h3>
          <ul>
            <li><a href="/templates/error404.html"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                  width="48px" height="48px">
                  <path
                    d="M 4.0175781 4 L 13.091797 17.609375 L 4.3359375 28 L 6.9511719 28 L 14.246094 19.34375 L 20.017578 28 L 20.552734 28 L 28.015625 28 L 18.712891 14.042969 L 27.175781 4 L 24.560547 4 L 17.558594 12.310547 L 12.017578 4 L 4.0175781 4 z M 7.7558594 6 L 10.947266 6 L 24.279297 26 L 21.087891 26 L 7.7558594 6 z" />
                </svg></a></li>
            <li><a href="/templates/error404.html"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"
                  width="48px" height="48px">
                  <path
                    d="M 7.546875 0 C 3.390625 0 0 3.390625 0 7.546875 L 0 18.453125 C 0 22.609375 3.390625 26 7.546875 26 L 18.453125 26 C 22.609375 26 26 22.609375 26 18.453125 L 26 7.546875 C 26 3.390625 22.609375 0 18.453125 0 Z M 7.546875 2 L 18.453125 2 C 21.527344 2 24 4.46875 24 7.546875 L 24 18.453125 C 24 21.527344 21.53125 24 18.453125 24 L 7.546875 24 C 4.472656 24 2 21.53125 2 18.453125 L 2 7.546875 C 2 4.472656 4.46875 2 7.546875 2 Z M 20.5 4 C 19.671875 4 19 4.671875 19 5.5 C 19 6.328125 19.671875 7 20.5 7 C 21.328125 7 22 6.328125 22 5.5 C 22 4.671875 21.328125 4 20.5 4 Z M 13 6 C 9.144531 6 6 9.144531 6 13 C 6 16.855469 9.144531 20 13 20 C 16.855469 20 20 16.855469 20 13 C 20 9.144531 16.855469 6 13 6 Z M 13 8 C 15.773438 8 18 10.226563 18 13 C 18 15.773438 15.773438 18 13 18 C 10.226563 18 8 15.773438 8 13 C 8 10.226563 10.226563 8 13 8 Z" />
                </svg></a></li>
            <li><a href="/templates/error404.html"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                  width="48px" height="48px">
                  <path
                    d="M 19.253906 2 C 15.311906 2 13 4.0821719 13 8.8261719 L 13 13 L 8 13 L 8 18 L 13 18 L 13 30 L 18 30 L 18 18 L 22 18 L 23 13 L 18 13 L 18 9.671875 C 18 7.884875 18.582766 7 20.259766 7 L 23 7 L 23 2.2050781 C 22.526 2.1410781 21.144906 2 19.253906 2 z" />
                </svg></a></li>
            <li><a href="/templates/error404.html"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"
                  width="50px" height="50px">
                  <path
                    d="M 44.898438 14.5 C 44.5 12.300781 42.601563 10.699219 40.398438 10.199219 C 37.101563 9.5 31 9 24.398438 9 C 17.800781 9 11.601563 9.5 8.300781 10.199219 C 6.101563 10.699219 4.199219 12.199219 3.800781 14.5 C 3.398438 17 3 20.5 3 25 C 3 29.5 3.398438 33 3.898438 35.5 C 4.300781 37.699219 6.199219 39.300781 8.398438 39.800781 C 11.898438 40.5 17.898438 41 24.5 41 C 31.101563 41 37.101563 40.5 40.601563 39.800781 C 42.800781 39.300781 44.699219 37.800781 45.101563 35.5 C 45.5 33 46 29.398438 46.101563 25 C 45.898438 20.5 45.398438 17 44.898438 14.5 Z M 19 32 L 19 18 L 31.199219 25 Z" />
                </svg></a></li>
            <li><a href="/templates/error404.html"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"
                  width="48px" height="48px">
                  <path
                    d="M 8.6425781 4 C 7.1835781 4 6 5.181625 6 6.640625 C 6 8.099625 7.182625 9.3085938 8.640625 9.3085938 C 10.098625 9.3085938 11.283203 8.099625 11.283203 6.640625 C 11.283203 5.182625 10.101578 4 8.6425781 4 z M 21.535156 11 C 19.316156 11 18.0465 12.160453 17.4375 13.314453 L 17.373047 13.314453 L 17.373047 11.310547 L 13 11.310547 L 13 26 L 17.556641 26 L 17.556641 18.728516 C 17.556641 16.812516 17.701266 14.960938 20.072266 14.960938 C 22.409266 14.960937 22.443359 17.145609 22.443359 18.849609 L 22.443359 26 L 26.994141 26 L 27 26 L 27 17.931641 C 27 13.983641 26.151156 11 21.535156 11 z M 6.3632812 11.310547 L 6.3632812 26 L 10.923828 26 L 10.923828 11.310547 L 6.3632812 11.310547 z" />
                </svg></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="footer-bottom">
      <div class="copyright">
        <p>
          Copyright &copy; 2024, Café Central. Todos los derechos reservados.
        </p>
      </div>
      <div class="info-web">
        <ul>
          <li><a href="/templates/error404.html">Blog</a></li>
          <li><a href="/templates/error404.html">Soporte</a></li>
        </ul>
      </div>
    </div>
  </footer>
  <script src="/static/js/script.js"></script>
</body>

</html>